.doggo{
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  padding-top:80px ;
  width: 50%;
  
}

body{
  scroll-behavior: smooth;
}

.top_container{
  position: relative;
  
}
.text-header{
  position: relative;
  color:#40514E;
  top: 0px;
  
  margin-left: 190px;
  font-size: x-large;
  
}
.text-headers{
  position: relative;
  color:#40514E;
  top: 0px;
  text-align: left;
  margin-left: 190px;
  font-size: x-large;
}
.contact-me{
  text-align: center;
  padding: 20px 0px;
  
}



.bottom-container{
  top: 100px;
  background-color: #C1E8BE;
 
  text-align: center;
}



h1{
 position: relative;
 width: 10%;
  margin: 0 auto;
 color: #5EBCE5 ;
 font-size: 700%;
 font-family: 'Sacramento', cursive;
}


.container-fluid{
  position:fixed;
  z-index: 2;
  background-color: #C1E8BE;
  box-shadow:#C1E8BE 0px 0px 15px 13px ;
  top: 0px;

}
h3{
  position: relative;
  font-family: 'Pacifico', cursive;
  
  
}


.text{
  position: relative;
  color:#40514E;
  top: 0px;
  margin-left: 200px;
  font-size: x-large;
  
}
.link{
  position: relative;
  color: #81B6F2 ;
  font-family: 'Tenor Sans', sans-serif;
  display: inline;
  margin: 0 10px 0 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.middle_text{
  
  position: relative;
  color:#40514E;
  margin-left: 130px;
  font-size: x-large;
  
 
 }
 #education{
   padding-top: 100px ;
 }
 #Programs{
   padding-top: 150px;
 }
p{
  
  margin-top: 0px;
  margin-bottom: 26px;
  font-family: 'Tiro Devanagari Hindi', serif;
}

.header{

  display: block;
  top: 50px;
  height: 5%;
  position: relative;
  color: #5EBCE5;
  font-family: 'Courier New', Courier, monospace;
  
  
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #1350D2, #11999e);
  background-image: -moz-linear-gradient(top, #1350D2, #11999e);
  background-image: -ms-linear-gradient(top, #1350D2, #11999e);
  background-image: -o-linear-gradient(top, #1350D2, #11999e);
  background-image: linear-gradient(to bottom, #1350D2, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Tenor Sans', sans-serif;
  
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.contact{
  padding: 0 10px 0 0 ;
}

.btn:hover {
  background: #2629D7;
  background-image: -webkit-linear-gradient(top, #2629D7, #2bc4ad);
  background-image: -moz-linear-gradient(top, #2629D7, #2bc4ad);
  background-image: -ms-linear-gradient(top, #2629D7, #2bc4ad);
  background-image: -o-linear-gradient(top, #2629D7, #2bc4ad);
  background-image: linear-gradient(to bottom, #2629D7, #2bc4ad);
  text-decoration: none;
}
.btn{
  position: relative;
  display: block;
  border-radius: 100%;
  bottom: 20px;
  
  justify-content: center;
  padding:20px;
  margin:0 auto;
}



.skills{
  text-align: center;
}



#designdevelopment{
  position: relative;
  
}
.second{
  
  position: relative;
  top:120px;
}





.text_second{
  
  width: 40%;
  height: 5%;
  position: relative;
  color:#40514E;
  font-size: x-large;
  margin: 60px auto 40px auto;
}

.rights{
  color:#EAF6F6;
  font-size: 0.75rem;
  margin: 0px 870px;
  padding: 20px 0;
}

#work{
  position: relative;
  left:140px;
  
} 
#work2{ position: relative;
  left:100px;
  margin-top: 20px;
  position: relative;
  top:340px;
  
}
#programer{
  position: relative;
  margin: 0 auto;
  right: 0px;

}
 h3 ,a{
  color: #11999E;
  
}

h1,h2{
 color: #66bfbf;

}
h2{
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  position: relative;
  text-align: center;
  
  
}
p{
  line-height: 2;
}

.skill-row{
  margin:100px auto ;
  width: 50%;
  text-align: left;
  
}
.image3{
  width: 40%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}
.skill-rows{
  margin:100px auto ;
  width: 60%;
  text-align: left;
  font-size: x-large;
}

hr{
  border: dotted #EAF6F6 6px;
  position: relative;
  margin-top:20px;
  width: 100%;
  border-bottom: none;

}
.image1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.image2{
  width: 25%;
  float: right;
  margin-left:30px;
  
}

.image3{
  width: 15%;
  float: left;
 
}
.image4{
  width: 15%;
  float: right;
  border-radius: 100%;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:  #4FEEFF;
  color: white;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 4px;
}

